@import '../../../css/variables.css';

.taskTab__buttonTab {
  position: absolute;
  bottom: var(--task-field-padding);

  display: flex;

  width: calc(100% - var(--task-field-padding) * 2);
  justify-content: flex-end;

  @media (--viewport-phone-only) {
    width: calc(100% - var(--task-field-padding));
  }
}

.taskTab__button {
  height: var(--task-buttons-height);

  &:disabled {
    opacity: .3;
  }

  @media (--viewport-phone-only) {
    font-size: .8rem;
    &:not(:last-child) {
        margin-right: 3px;
    }
  }
  &--nav {
    width: 50px;
  }

  &--prev {
    transform: scale(-1);
  }

  &--translate {
    position: absolute;
    left: 0;

    border: none;

    @media (--viewport-phone-only) {
      position: static;
    }
  }
}
