@import '../../../css/variables.css';

.thepitLogo {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%,-50%);
  align-items: center;

  @media (--viewport-phone-only) {
    font-size: .6rem;
  }
}

.thepitLogo__subheader,
.thepitLogo__header {
  background-image: -webkit-linear-gradient(top, transparent, transparent), url(/images/hotlava.gif);
  -webkit-background-clip: text;
  background-size: cover;
  text-shadow: 0 0 1px rgba(255,0,0,0.15);
  -webkit-text-fill-color: transparent;
}

.thepitLogo__subheader {

  font-size: 6em;
  font-weight: 600;

  position: absolute;
  top: 50%;
  left: -.6em;

  transform: translateY(-50%) rotate(-90deg);
}

.thepitLogo__header {

  font-size: 16em;
  font-weight: 800;

  padding-left: .3em;
}
