@import '../../../css/variables.css';

:root {
  --tense-tab-z-index: 600;
}

.tense-tab {
  position: absolute;
  z-index: var(--tense-tab-z-index);

  overflow: hidden;

  width: calc(100% - var(--task-field-padding) * 2);

  transition: max-width 1s ease;

  background-color: #000;
  white-space: nowrap;
}

.tense-tab--hidden {
  max-width: 0;
}

.tense-tab--shown {
  max-width: 100%;
}

.tense-tab__list {
  padding: 20px;
}

.tense-tab__item {
  margin-bottom: 12px;

  &:last-of-type {
    margin-bottom: 30px;
  }
}

.tense-tab__input {
  display: none;
}

.tense-tab__label {
  position: relative;

  padding-left: 30px;
}

.tense-tab__label:before,
.tense-tab__label:after {
  position: absolute;

  display: block;

  content: '';
}

.tense-tab__label:before {
  top: 50%;
  left: 0;

  width: 18px;
  height: 18px;

  transition: all .3s ease;
  transform: translateY(-50%);

  background-color: #fff;
}

.tense-tab__input:checked + .tense-tab__label:before {
  background-color: var(--element-color);
  box-shadow: 0 5px 20px color(var(--element-color) alpha(50%));
}

.tense-tab__input:checked + .tense-tab__label:after {
  top: 2px;
  left: 5px;

  width: 5px;
  height: 9px;

  transform: rotate(45deg);

  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
