@import '../../../css/variables.css';

.task-tab {
  position: relative;

  height: calc(var(--task-field-height) - var(--task-field-padding) * 2);
  padding: var(--task-field-padding) var(--task-field-padding) calc(var(--task-field-padding) + var(--task-buttons-height));

  background: #000;

  @media (--viewport-phone-only) {
    height: calc(var(--task-field-height) / var(--task-field-mobile-ratio) - var(--task-field-padding));
    padding: calc(var(--task-field-padding) / 2) calc(var(--task-field-padding) / 2) calc(var(--task-field-padding) / 2 + var(--task-buttons-height));
  }
}

.task-tab__error-field {
  font-weight: 600;

  opacity: .5;
  color: var(--element-color);
}
