@import '../../../css/variables.css';

:root {
  --modal-background-color: #121212;
  --modal-width: 500px;
  --modal-header-font-size: 3rem;
}

body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  z-index: var(--modal-z-index);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-enter {
  transition: opacity .5s ease;

  opacity: 0;

  & .modal__info {
    transition: opacity .5s ease;
    transition-delay: .5s;
    opacity: 0;
  }
  &.modal-enter-active {
    opacity: 1;

    & .modal__info {
      opacity: 1;
    }
  }
}

.modal-leave {
  transition: opacity .5s ease;
  transition-delay: .5s;

  opacity: 1;

  & .modal__info {
    transition: opacity .5s ease;

    opacity: 1;
  }
  &.modal-leave-active {
    opacity: 0;

    & .modal__info {
      opacity: 0;
    }
  }
}

.modal__overlay {
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,.7);
}

.modal__info {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;

  display: flex;

  transform: translateY(-50%);

  background-color: var(--modal-background-color);
  justify-content: center;
}

.modal-content {
  width: var(--modal-width);
  padding: 60px 10px;
}

.modal-content__header,
.modal-content__body,
.modal-content__footer {
  padding: 10px 0;
}

.modal-content__header {
  position: relative;

  margin-bottom: 40px;

  &:before {
    position: absolute;
    right: -40px;
    bottom: -2px;

    display: block;

    width: 15px;
    height: 4px;

    content: '';

    border-right: 4px solid #fff;
    border-left: 4px solid #fff;
    background: transparent;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 1px;

    content: '';

    background-color: var(--gray-color);
  }
}

.modal-header__header {
  font-size: var(--modal-header-font-size);
  font-weight: 300;

  position: relative;

  display: inline-block;

  margin: 0;

  text-transform: uppercase;

  color: var(--element-color);

  @media (--viewport-phone-only) {
    font-size: calc(var(--modal-header-font-size) / 1.5);
  }

  &:after {
    position: absolute;
    top: 50%;
    right: -20%;

    display: block;

    width: .2em;
    height: .2em;

    content: '';
    transform: translateY(-50%);
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    border-radius: 50%;
    background-color: var(--element-color);
  }
}

.modal-header__subheader {
  font-size: 1.1rem;
  font-weight: 700;

  text-transform: uppercase;

  color: var(--light-gray-color);
}

.modal-header__btn {
  font-size: var(--modal-header-font-size);

  float: right;

  color: var(--element-color);
  border: none;
  outline: none;
  background: transparent;

  @media (--viewport-phone-only) {
    font-size: calc(var(--modal-header-font-size) / 1.5);
  }

  &:hover {
    color: color(var(--element-color) alpha(70%));
  }
}

.modal-content__body {
  font-size: 1.2rem;
  line-height: 1;

  height: 6rem;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
