@import './variables.css';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {

  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;

  color: var(--body-text-color);
  background-color: var(--background-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
  src: local('Raleway Light'), local('Raleway-Light');
  src: url('/fonts/Raleway/Raleway-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: local('Raleway');
  src: url('/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: normal;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold');
  src: url('/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: local('Raleway Bold'), local('Raleway-Bold');
  src: url('/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  font-style: normal;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold');
  src: url('/fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 900;
  font-style: normal;
  src: local('Raleway Black'), local('Raleway-Black');
  src: url('/fonts/Raleway/Raleway-Black.ttf') format('truetype');
}

.page-change-enter {
  position: absolute!important;

  transition: opacity .5s ease;

  opacity: 0;
  &-active {
    opacity: 1;
  }
}

.page-change-leave {
  position: absolute!important;

  transition: opacity .5s ease;

  opacity: 1;
  &-active {
    opacity: 0;
  }
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: 100%;

  transition: all .7s ease-in-out;

  background: rgba(0, 0, 0, 0.3);

  &--shown {
    z-index: var(--loader-z-index);

    opacity: 1;
  }
  &--hidden {
    z-index: -1;

    opacity: 0;
  }
}

.loader__icon {
  position: relative;
  top: 50%;

  transform: translateY(-50%);
  text-align: center;

  & > svg {
    stroke: var(--element-color);
  }
}

.content {
  position: relative;

  overflow: hidden;

  width: 100%;
  max-width: 70rem;
  min-height: 100vh;
  margin: auto;
  padding: .5rem;

  @media (--viewport-phone-up) {
    padding: 2rem;
  }
}

.btn {
  font-family: inherit;

  font-size: .9rem;
  font-weight: 600;

  position: relative;

  display: inline-flex;

  width: 160px;
  height: 40px;

  transition: background-color .4s ease;
  vertical-align: middle;

  text-decoration: none;
  text-transform: uppercase;

  color: var(--element-color);

  border: 1px solid var(--element-color);
  outline: 0;
  background: transparent;
  box-shadow: 0 5px 20px color(var(--element-color) alpha(0%));

  align-items: center;
  justify-content: center;

  & > svg {
    fill: var(--element-color);
  }

  &:hover,
  &:focus {
    color: #fff;
    background-color: var(--element-color);
    box-shadow: 0 5px 20px color(var(--element-color) alpha(30%));

    & > svg {
      fill: #fff;
    }
  }

  @media (--viewport-phone-only) {
    color: #fff;
    background-color: var(--element-color);
    box-shadow: 0 5px 20px color(var(--element-color) alpha(30%));

    & > svg {
      fill: #fff;
    }
  }
}
