:root {
  /* common variables*/
  --background-color: #000;
  --body-text-color: #fff;
  --element-color: #ce0000;
  --gray-color: #222;
  --light-gray-color: #aaa;
  --nav-bar-z-index: 1005;
  --nav-menu-z-index: 1006;
  --loader-z-index: 1004;
  --modal-z-index: 1090;
  /* english page variables */
  --interfields-padding: 30px;
  --task-field-padding: 20px;
  --task-field-height: 24rem;
  --task-field-mobile-ratio: 1.3;
  --task-buttons-height: 40px;
}

@custom-media --viewport-big-desktop-up (width > 1600px);
@custom-media --viewport-desktop-up (width > 1200px);
@custom-media --viewport-tablet-up (width > 900px);
@custom-media --viewport-phone-up (width > 600px);
@custom-media --viewport-phone-only (width <=600px);
