@import '../../../css/variables.css';

:root {
  --filters-height: 85px;
  --redline-height: .7rem;
  --header-font-size: 5em;
}

.english-task {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @media (--viewport-tablet-up) {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.english-task__info-field {
  position: relative;

  margin-bottom: 40px;

  padding-right: 0;
  padding-bottom: var(--filters-height);
  flex-grow: 1;
  flex-basis: 40%;
  @media (--viewport-tablet-up) {
    margin-bottom: 0;
    padding-right: var(--interfields-padding);
  }
}

.english-task__task-field {
  position: relative;

  min-height: var(--task-field-height);
  padding: var(--task-field-padding);

  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23333333' fill-opacity='0.7' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  flex-grow: 2;
  flex-basis: 60%;

  @media (--viewport-phone-only) {
    min-height: calc(var(--task-field-height) / var(--task-field-mobile-ratio));
    padding: calc(var(--task-field-padding) / 2);
  }
}

.english-task__header {

  font-size: var(--header-font-size);
  font-weight: 600;
  line-height: 1;

  position: relative;

  margin-bottom: 3rem;

  padding-bottom: calc(.25em + var(--redline-height));

  text-align: right;

  @media (--viewport-phone-only) {
    font-size: calc(var(--header-font-size) / 1.5);
  }

  &:after {
    position: absolute;
    right: 0;
    bottom: 0;

    display: block;

    width: 70px;
    height: var(--redline-height);

    content: '';

    background: var(--element-color);
  }
}

.english-task__subheader {
  font-size: .5em;
  font-weight: 300;
}

.english-task__filters {
  position: absolute;
  right: 0;
  bottom: 0;

  height: var(--filters-height);

  text-align: right;

  & > p {
    font-size: 1.3rem;
    font-weight: 500;

    margin-top: 0;
    margin-bottom: 20px;
  }

  @media (--viewport-tablet-up) {
    right: var(--interfields-padding);
  }
}
