@import '../../../css/variables.css';

.task-item__ru-text,
.task-item__en-text {
  font-size: 1.2rem;
  font-weight: 500;

  position: relative;

  margin-bottom: 50px;
}

.task-item__description {
  margin-top: 16px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--element-color);
  opacity: .5;
}

.task-item__lang {
  font-size: 3rem;
  font-weight: 800;

  position: absolute;
  top: 0;
  right: 0;

  text-transform: uppercase;

  color: color(var(--element-color) alpha(10%));
}
